:root {
  --black: #101518;
  --blue: #1c2a35;
  --green: #037b4b;
  --grey: #717980;
  --red: #d60a22;
  --white: #d3d3d3;

  --dark-blue: #1b2832;
  --dark-green: #086544;
  --dark-grey: #636a6f;
  --dark-red: #a71126;
  --dark-white: #9ba0a6;

  --light-black: #464e56;

  --title: var(--white);
  --chart-bg: var(--black);
  --series-bg: var(--blue);
  --axis: var(--grey);
  --tick: var(--dark-white);
  --label: var(--light-black);
  --grid-line: var(--dark-blue);
  --up: var(--green);
  --up-stroke: var(--dark-green);
  --down: var(--red);
  --down-stroke: var(--dark-red);
  --tail: var(--dark-grey);
  --candlestick-active-stroke: var(--white);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.chart__background {
  fill: var(--chart-bg);
}

.chart__title {
  font-size: 1.8rem;
  font-weight: 800;
  fill: var(--title);
}

.chart__series-background {
  fill: var(--series-bg);
}

.chart__axis .domain,
.chart__axis .tick line,
.chart__grid-line,
.candlestick:hover .candlestick__body,
.candlestick__tail {
  stroke-width: 2;
}

.chart__axis .domain {
  stroke: var(--axis);
}

.chart__axis .tick line {
  stroke: var(--tick);
}

.chart__axis .tick text {
  font-size: 0.8rem;
  font-weight: 600;
  fill: var(--label);
}

.chart__grid-line {
  stroke: var(--grid-line);
}

.candlestick__body {
  stroke-width: 0;
}

.candlestick__body,
.candlestick__tail {
  stroke: var(--tail);
}

.candlestick__body--down {
  fill: var(--down);
  stroke: var(--down-stroke);
}

.candlestick__body--up {
  fill: var(--up);
  stroke: var(--up-stroke);
}

.candlestick:hover .candlestick__body,
.candlestick:hover .candlestick__tail {
  stroke: var(--candlestick-active-stroke);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
